@use '../abstracts' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  @include text('sm', 'medium');
  color: $color-cool-gray-900;
}
