@use '../abstracts' as *;


.board {
  width: 100%;
  flex: 1;
  @include flex(column);
  background-color: #babdc9;
  min-width: 0;
  overflow-x: hidden;

  &__canvas {
    width: 100%;
    min-width: 0;
    padding: 12px;
    flex: 1;
    @include flex(row, $gap: 12px);
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scrollbar-width: thin;
    scrollbar-color: oklch(64% 0.030921 274 / .7) transparent;
    // overscroll-behavior: contain;
    // scrollbar-width: contain;
    // scrollbar-color: oklch(87% 0.012731 274) oklch(64% 0.030921 274);
    scrollbar-color: oklch(64% 0.030921 274) transparent;
    scrollbar-gutter: stable both-edges;

     &::-webkit-scrollbar {
    height: 10px; /* толщина */
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 999px;
    margin: 6px; /* чтобы трек не упирался в края */
  }
  &::-webkit-scrollbar-thumb {
    background-color: oklch(64% 0.030921 274 / .7); /* мягкий, как на втором скрине */
    border-radius: 999px;
    border: 3px solid transparent;  /* визуально «пухлый» бегунок */
    background-clip: padding-box;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: oklch(60% 0.030921 274 / .9); /* чуть контрастнее при ховере */
  }
  /* скрываем стрелочки на концах (как на скрине 2) */
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  /* чтобы скролл не «протекал» к body при упоре */
  overscroll-behavior-x: contain;
  &::-webkit-scrollbar-thumb { background-color: oklch(64% 0.030921 274 / .35); }
  &:hover::-webkit-scrollbar-thumb { background-color: oklch(60% 0.030921 274 / .9); }
  }
  &__lists {
    width: fit-content;
    @include flex(row, $gap: 12px);
  }

  &__add-list-button {
    min-width: $list-width;
    height: 40px;
    border-radius: 12px;
    @include text('sm', 'medium');
    color: $color-white;
    background-color: color-mix(in oklch, $color-white 20%, transparent);

    &:hover {
      background-color: color-mix(in oklch, $color-white 25%, transparent);
    }
  }
}
