@use '../abstracts' as *;

.board {
  width: 100%;
  flex: 1;
  @include flex(column);
  background-color: #babdc9;

  &__canvas {
    width: 100%;
    padding: 12px;
    flex: 1;
    @include flex(row, $gap: 12px);
    overflow-x: auto;
  }

  &__lists {
    width: fit-content;
    @include flex(row, $gap: 12px);
  }

  &__add-list-button {
    min-width: $list-width;
    height: 40px;
    border-radius: 12px;
    @include text('sm', 'medium');
    color: $color-white;
    background-color: color-mix(in oklch, $color-white 20%, transparent);

    &:hover {
      background-color: color-mix(in oklch, $color-white 25%, transparent);
    }
  }
}
