@use '../abstracts' as *;

.board-header {
  width: 100%;
  padding: 0 12px;
  height: 56px;
  @include flex(row, $align: center, $justify: space-between);
  background-color: oklch(18.6% 0.04405 273.4 / 0.1);
  filter: multiply;
  backdrop-filter: blur(20px);

  &__name {
    color: $color-white;
    @include text('lg', 'medium');
    letter-spacing: -0.01em;
  }

  &__button-group {
    @include flex(row, $gap: 8px);
  }

  &__button {
    min-height: 32px;
    padding: 6px 16px;
    @include flex(row, $align: center, $gap: 8px);
    @include text('sm', 'medium');
    border-radius: 8px;
    color: $color-cool-gray-900;
    background-color: $color-cool-gray-200;

    &:hover {
      background-color: $color-cool-gray-100;
    }
  }
}
