@use '../abstracts' as *;
.button {
  // Button component styles
  &-modal{
    border-radius: 8px;
    height: 40px;
    width: 102px;
    border: none;
    @include text('sm', 'medium', 16px);
    cursor: pointer;

    &__cancel{
      background-color: $color-cool-gray-100;
      color: $color-cool-gray-900;
    }

    &__ok{
      background-color: $color-cool-gray-900;
      color: $color-cool-gray-50;
    }
  }
}
