@use '../abstracts' as *;

.modal-add-card {
  // Modal add card component styles
  //display: none;
  z-index: 1;
  width: 560px;
  height: 264px;
  border: 1px solid $color-cool-gray-200;
  border-radius: 16px;
  box-shadow: 0px 4px 40px 0px $color-cool-gray-200;
  padding: 16px;
  @include flex($direction: column, $justify: space-between);

  &_title {
    @include text('lg', 'medium');
  }

  &_buttonsblock{
    width: 100%;
    @include flex($direction: row, $justify: space-between);

    &-button{
      @include flex($direction: row, $gap: 8px);
    }
  }
}
