@use '../abstracts' as *;

.modal {
  // Modal base component styles
  position: fixed;
  margin: 15% auto;
  width: 560px;
  border: 1px solid $color-cool-gray-200;
  border-radius: 16px;
  box-shadow: 0px 4px 40px 0px $color-cool-gray-200;
  padding: 16px;

  &-header{
    width: 100%;

    &__title {
      @include text('lg', 'medium');
    }
  }

  &-body{
    @include flex(column, $justify: space-between, $gap: 12px);
    margin: 16px 0px;
  }

  &-footer{
    width: 100%;
    @include flex(row, $justify: flex-end);

    &__button{
      @include flex(row, $gap: 8px);
    }
  }

  &-button{
    
    &__cancel{
      background-color: $color-cool-gray-100;
      color: $color-cool-gray-900;
    }

    &__ok{
      background-color: $color-cool-gray-900;
      color: $color-cool-gray-50;
    }
  }
}
