@use '../abstracts' as *;

.select {
  position: relative;
  width: 240px;
  @include flex(column);

  &__trigger {
    width: 240px;
    height: 40px;
    @include flex(row, $justify: space-between, $align: center);
    border-radius: 8px;
    background-color: $color-cool-gray-100;
    padding: 12px 10px 12px 16px;
    cursor: pointer;

    &-title {
      @include text('sm', 'medium');
      @include line-clamp(1);
      color: $color-cool-gray-900;
    }

    &-icon {
      color: $color-cool-gray-400;
    }
  }

  &__content {
    position: absolute;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    max-height: 164px;
    border-radius: 8px;
    padding: 8px;
    @include flex(column);
    background-color: $color-white;
    box-shadow: 0 2px 40px 0 oklch(0 0 0 / 0.15);
    display: none;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }

    &[data-open='true'] {
      display: block;
    }
  }

  &__option {
    width: 100%;
    min-height: 32px;
    padding: 0 12px;
    @include flex(row, $align: center);
    @include text('sm', 'medium');
    border-radius: 6px;
    background-color: transparent;
    color: $color-cool-gray-500;
    cursor: pointer;

    &:hover {
      background-color: $color-cool-gray-100;
      color: $color-cool-gray-900;
    }
  }
}
